{% extends "base.html" %}
{% block title %}Random Motions{% endblock %}
{% load static %}
{% block meta %}
  <meta name="keywords" content="Motion,Debate,Random,{{ style_str }}">
{% endblock %}
{% block body %}
    <div class="text-center">
        <p class="h4">Random Motions</p>
        <span>
            -{{ style_str }} style-
         </span>
    </div>

    <div id=outArea>
        <div class="shadow p-3 m-3 bg-white rounded">Tap load button to start</div>
    </div>
    <br>

    <section class="d-none">
        <div id=motion>
            [
            {{motion_json}}
            ]
        </div>
        <br>
        <div id=meta>
            [
            {{meta_json}}
            ]
        </div>
        <br>
        <div id=tournament>
            [
            {{tournament_json}}
            ]
        </div>
    </section>
{% endblock %}

{% block footer%}
    <div class="container d-flex justify-content-around">
    <button type="button" class="btn btn-dark" onClick="random()">load</button>
    </div>
{% endblock%}

{% block script %}
//<script type="text/javascript">
function copy(id) {
    var motion = document.getElementById(id).innerText;
    var copyFrom = document.createElement("textarea");
    copyFrom.textContent = motion;

    // bodyタグの要素を取得
    var bodyElm = document.getElementsByTagName("body")[0];
    // 子要素にテキストエリアを配置
    bodyElm.appendChild(copyFrom);

    // テキストエリアの値を選択
    copyFrom.select();
    var succeeded = document.execCommand('copy');
    if (succeeded) {
      alert('Motion is copied!');
    } else {
      alert('Copy failed');
    }
    bodyElm.removeChild(copyFrom);
    
    //api
    var info = {
        motion_id : id,
        csrfmiddlewaretoken: getCookie("csrftoken"),
    };
    var url = "" + location.protocol + "//" + location.host + "/api/copy/"

    $.post(url,info);
}
</script>
<script type="text/javascript">
function random(){
    var raw = document.getElementById("motion").innerHTML;
    var data = "";
    if(raw.includes("{}")){
        var change1 = raw.replace(/"/g,"\\\"");
        data = change1.replace(/{}/g,"\"");
        document.getElementById("motion").innerHTML = data;
    }
    else{
        data = raw;
    }
    var motions = JSON.parse(data);
    var meta = JSON.parse(document.getElementById("meta").innerHTML);
    var tournament = JSON.parse(document.getElementById("tournament").innerHTML);
    var shadowbox = '<div class="shadow p-3 m-3 bg-white rounded">';
    var styleInt = {{ style }};
    var meta_id = 0;

    var lim = meta.length;
    var rix=[];
    var data = "";

    for (i=0;i<lim;i++){
        rix.push(i);
    }
    while(lim){
        var j=Math.floor(Math.random()*lim);
        var t=rix[--lim];
        rix[lim]=rix[j];
        rix[j]=t;
    }


    for(var l=0;l<3;l++){
      var matchedMotion = [];
      var ix = l;
      data += shadowbox;
      ix = rix[l];
      matchedMotion = motions.filter(function(ary){
          if(ary[2] == meta[ix][0])return ary;
      })[0];
      var metaAry = meta[ix];
      var year = metaAry[1];
      var round = metaAry[2];
      var toNum = metaAry[3] - 1;

      var tournamentAry = tournament[toNum];
      var tournament_name = tournamentAry[0]
      data += '<div id="'+ matchedMotion[3] +'" onclick="copy(\''+ matchedMotion[3] + '\')">'
      var metaStr = '<p class="font-weight-bolder">'　+ tournament_name + "," + year + "," + round + "</p>"
      data += metaStr;
      var info = matchedMotion[1];
      var motion_text = matchedMotion[0];

      if(info == ""){
           data += "<p>" + motion_text + "</p>";
      }
      else{
           data += "<p>" + motion_text + "<br><br>Info :<br>" + info +"</p>";
      }

      link = '</div><div class="text-right"><a href="/motions/?id=' + matchedMotion[2] +'">edit</a></div>'
      data += link
      data += "</div>"
    }
    document.getElementById("outArea").innerHTML =data;
}
</script>
{% endblock %}
