{% extends "base.html" %}
{% block title %}Log in{% endblock %}
{% load static %}
{% block meta %}
  <meta name="keywords" content="MotionDB,LogIn">
{% endblock %}

{% block body %}
<div class="text-center">
     <p class="h4">Log in</p>
</div>
<div class="shadow p-3 m-3 bg-white rounded">
  <div class="container">
    <form method="POST" action="">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="row justify-content-center">
        <button type ="submit" class="btn btn-dark">Log in</button>
      </div>
      <input type="hidden" name="next" value="{{ next }}"> 
    </form>
    <br>
    <div class="row justify-content-center">
      <span>Don't you have an account? <a href="/accounts/create/">Sign up</a></span>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
  {% include 'footer.html' %}
{% endblock %}