{% load static %}

<div class="container-fluid footer">
  <div class="row px-3 pt-2">
    <div class="col">
      <span class="text-light">Services</span>
      <ul class="list-unstyled pl-1 my-0">
        <li><a class="text-light font-weight-light" href="/random/">Random</a></li>
        <li><a class="text-light font-weight-light" href="/search/">Search</a></li>
        <li><a class="text-light font-weight-light" href="/motions/ranking/">Ranking</a></li>
      </ul>
    </div>
    <div class="col">
      <span class="text-light">About</span>
      <ul class="list-unstyled pl-2 my-0">
        <li><a class="text-light font-weight-light" href="/privacy/">Privacy</a></li>
        <li><a class="text-light font-weight-light" href="/contact/">Contact</a></li>
      </ul>
    </div>
  </div>
  <div class="row justify-content-center">
    <span class="text-light pb-1">© 2020</span>
  </div>
</div>
